.createTeams {
    padding-top: 1em;
}

.jumbotron {
    /*background-color: #ffffff;*/
}

.main-title {
    /*color: black;*/
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
    border-top: none;
    padding: 10px;
}

.gameEvents-json {
    width: auto;
    height: 305px;
    /*    border:2px solid black;*/
    overflow: scroll;
    position: relative;
}

.historicGameFiles {
    width: auto;
    height: 305px;
    border: 1px solid black;
    border-style: dotted;
    overflow: scroll;
    position: relative;
}

.footer {}

#scoreboard-content {
    margin-left: auto;
    margin-right: auto;
}

.scoreboard-bgd {
    /*    background: url("../images/scoreboard.jpg") no-repeat;*/
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.baseball {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 0px;
}

body {
    /*background: url("../images/field.jpg") no-repeat;
    background-size: 100% 100%;*/
}

.game-browser {
    display: inline-block;
}

.center-content {
    width: 100%;
    text-align: center;
}

.action-img {
    width: 350px;
    height: 350px;
}

.diamond-img {
    width: 400px;
    height: 400px;
}

@media screen and (max-width: 991px) {
    .center-content {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .baseball {
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .gameOutput {}
    .main-title {
        font-size: 15px;
    }
    .header {
        font-size: 12px;
    }
    .createTeams {
        margin: 1em;
    }
    .game-browser {
        overflow: hidden;
        width: 100%;
    }
    .diamond-img {
        width: 300px;
        height: 300px;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .action-img {
        width: 300px;
        height: 300px;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
